@font-face {
  font-family: montRegular;
  src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: montSemibold;
  src: url(../fonts/MontserratAlternates-SemiBold.otf);
}

@font-face {
  font-family: montBold;
  src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: proximaBold;
  src: url("../fonts/Proxima Nova Bold.otf");
}

body {
  background: #000;
}

body {
  margin: 0;
  padding: 0;
  background: #efefef;
}

header {
  height: 350px;
  background: url("../img/space-landing-02.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header .playGame img {
  margin-top: 20px;
  height: 45px;
}

header .centralContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .centralContainer .gameNumber {
  font-family: montRegular;
  font-size: 20px;
  color: #707070;
  margin: 0;
}

header .centralContainer .onlyAddress {
  font-family: montRegular;
  font-size: 40px;
  color: #ffffff;
}

header .centralContainer button {
  font-family: montBold;
  padding: 0 28px;
  margin: 0 auto;
  width: 178px;
  height: 51px;
  color: white;
  font-family: montRegular;
  font-size: 14px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff9945), to(#ff4f88));
  background-image: linear-gradient(to top right, #ff9945, #ff4f88);
  position: relative;
}

header .centralContainer button img {
  margin-top: 4px;
  height: 13px;
}

.mainContent {
  margin-top: 20px;
}

.mainContent .heading {
  font-family: montBold;
  margin: 0;
  padding: 0;
  color: #404272;
  font-size: 34px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 20px;
}

.mainContent .heading img {
  width: 111px;
  height: 5px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mainContent .chooseCategory {
  margin: 0;
  padding: 0 5%;
}

.mainContent .chooseCategory .gameCategories {
  font-family: montRegular;
  font-size: 14px;
  color: #707070;
  overflow: hidden;
  background: white;
  border-radius: 41px;
  height: 40px;
}

.mainContent .chooseCategory .gameCategories li {
  text-align: center;
  position: relative;
}

.mainContent .chooseCategory .gameCategories li p {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.mainContent .search {
  color: #707070;
  font-family: montRegular;
  border: none !important;
  font: 17px;
  padding: 0 20px;
}

.mainContent .search form {
  position: relative;
  background: white;
  height: 40px;
  border-radius: 23px;
}

.mainContent .search form .searchIcon {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 24px;
}

.mainContent .search form input {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 64px;
  width: 80%;
  -webkit-transform: translateY(31%);
          transform: translateY(31%);
  z-index: 100;
}

.mainContent .search form input,
.mainContent .search form form,
.mainContent .search form .input-group {
  outline: none !important;
  border: none !important;
}

.mainContent .search form textarea:focus,
.mainContent .search form input:focus,
.mainContent .search form .input-group,
.mainContent .search form form:focus {
  outline: none;
}

.mainContent .gameIcons {
  margin-top: 20px;
}

.mainContent .gameIcons li {
  padding: 20px;
  padding-bottom: 0;
  z-index: 0;
  position: relative;
}

.mainContent .gameIcons li button {
  opacity: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 100px;
  z-index: 1;
  font-family: montBold;
  padding: 0px 15px;
  width: 125px;
  height: 40px;
  color: white;
  font-family: montRegular;
  font-size: 12px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff9945), to(#ff4f88));
  background-image: linear-gradient(to top right, #ff9945, #ff4f88);
  position: relative;
}

.mainContent .gameIcons li button img {
  margin-top: 2px;
  height: 13px;
}

.mainContent .gameIcons li:hover button {
  display: block;
  opacity: 1;
}

.mainContent .pagination {
  margin: 60px 0;
  cursor: pointer;
}

.mainContent .pagination a {
  background: transparent;
  border: none;
  color: #707070;
  font: 14px proximaBold;
  cursor: pointer;
}

.mainContent .pagination a:hover {
  cursor: pointer;
}

.mainContent .pagination img {
  height: 14px;
}

footer {
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

footer .logoImage {
  width: auto;
  height: 30px;
  margin-top: 20px;
}

footer .paymentIcons {
  display: inline-block;
}

footer ul li {
  margin: 0;
  padding: 0;
  font-family: montRegular;
  color: #707070;
  font-size: 13px;
  margin-top: 8px;
}

footer ul li:nth-child(1) {
  margin: 0;
  padding: 0;
  font-family: montBold;
  color: #646464;
  font-size: 13px;
}

footer .footerBottom {
  width: 100%;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navClass {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff9945), to(#ff4f88));
  background-image: linear-gradient(to top right, #ff9945, #ff4f88);
  background-size: contain;
  border-radius: 23px;
  color: white;
}

.paginationClass {
  background: white;
}

@media (max-width: 768px) {
  .mainContent .categoryMobile {
    padding: 0 30px;
  }
  .mainContent .categoryMobile .dropdown {
    padding: 0 30px;
    width: 100%;
    height: 40px;
  }
  .mainContent .categoryMobile .dropdown button {
    width: 100%;
    background: white;
    border: 0.03px solid lightgray;
    border-radius: 0px;
  }
  .mainContent .categoryMobile .dropdown .dropdown-menu {
    padding: 0 30px;
    width: 80%;
  }
  .mainContent .search {
    font: 17px;
    padding: 0 30px;
    margin-top: 20px;
    position: relative;
  }
  .mainContent .search form {
    margin: 0;
    padding: 0;
    background: white;
    height: 40px;
    border-radius: 0px;
  }
  .mainContent .search form input {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 64px;
    width: 80%;
    -webkit-transform: translateY(31%);
            transform: translateY(31%);
    z-index: 100;
  }
  .mainContent .mobileCategory .dropdown {
    width: 100%;
  }
  footer .footerBottom .logoImage {
    width: auto;
    height: 37px;
    bottom: 0;
    left: 0;
    margin: 15px 0px;
  }
  footer .footerBottom .copyrights {
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
  }
  footer .footerBottom p {
    margin-top: 23px;
  }
}
/*# sourceMappingURL=style.css.map */