@font-face {
  font-family: montRegular;
  src: url(../fonts/Montserrat-Regular.otf);
}

@font-face {
  font-family: montSemibold;
  src: url(../fonts/MontserratAlternates-SemiBold.otf);
}

@font-face {
  font-family: montBold;
  src: url(../fonts/Montserrat-Bold.otf);
}

@font-face {
  font-family: proximaBold;
  src: url("../fonts/Proxima Nova Bold.otf");
}

body {
  margin: 0;
  padding: 0;
  background: #efefef;
}

header {
  height: 859px;
  background: url("../img/space-landing-02.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header .playGame img {
  margin-top: 20px;
  width: 297px;
  height: 80px;
}

header .centralContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .centralContainer .gameNumber {
  font-family: montRegular;
  font-size: 35px;
  color: #707070;
  line-height: 90px;
}

header .centralContainer .onlyAddress {
  font-family: montRegular;
  font-size: 68px;
  color: #ffffff;
  line-height: 90px;
}

header .centralContainer button {
  margin: 0 auto;
  width: 275.84px;
  height: 76.46px;
  color: white;
  font-family: montRegular;
  font-size: 20px;
  line-height: 24px;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff9945), to(#ff4f88));
  background-image: linear-gradient(to top right, #ff9945, #ff4f88);
  position: relative;
}

header .centralContainer button img {
  position: absolute;
  top: 29px;
  right: 50px;
}

.mainContent .heading {
  font-family: montBold;
  margin: 0;
  padding: 0;
  color: #404272;
  font-size: 45px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 20px;
}

.mainContent .heading img {
  width: 111px;
  height: 5px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.mainContent .chooseCategory {
  margin: 0;
  padding: 0 5%;
  margin-top: 20px;
}

.mainContent .chooseCategory .gameCategories {
  font-family: montRegular;
  font-size: 14px;
  color: #707070;
  overflow: hidden;
  background: white;
  border-radius: 41px;
  height: 58px;
}

.mainContent .chooseCategory .gameCategories li {
  text-align: center;
  padding-top: 14px;
}

.mainContent .search {
  color: #707070;
  font-family: montRegular;
  border: none !important;
  font: 17px;
  padding: 0 2%;
  margin-top: 20px;
  position: relative;
}

.mainContent .search form {
  background: white;
  height: 58px;
  border-radius: 23px;
}

.mainContent .search form input {
  position: absolute;
  top: 18px;
  left: 63px;
}

.mainContent .search form i {
  position: absolute;
  top: 22px;
  left: 31px;
}

.mainContent .search form input,
.mainContent .search form form,
.mainContent .search form .input-group {
  outline: none !important;
  border: none !important;
}

.mainContent .search form textarea:focus,
.mainContent .search form input:focus,
.mainContent .search form .input-group,
.mainContent .search form form:focus {
  outline: none;
}

.mainContent .pagination {
  cursor: pointer;
}

.mainContent .pagination a {
  background: transparent;
  border: none;
  color: #707070;
  font: 22px proximaBold;
  cursor: pointer;
}

.mainContent .pagination a:hover {
  cursor: pointer;
}

footer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .logoImage {
  width: 211px;
  height: 57px;
}

footer ul li {
  margin: 0;
  padding: 0;
  font-family: montRegular;
  color: #707070;
  font-size: 20px;
  margin-top: 8px;
}

footer ul li:nth-child(1) {
  margin: 0;
  padding: 0;
  font-family: montBold;
  color: #646464;
  font-size: 20px;
}

footer .footerBottom {
  width: 100%;
  height: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.navClass {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#ff9945), to(#ff4f88));
  background-image: linear-gradient(to top right, #ff9945, #ff4f88);
  background-size: contain;
  border-radius: 23px;
  color: white;
}

.paginationClass {
  background: white;
}
/*# sourceMappingURL=style.css.map */